.promo {
  /* max-width: 1280px; */
  height: 524px;
  background-color: #DDDEE3;
  margin: 0 auto;
  padding-top: 82px;
}


.promo__title {
  max-width: 730px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;

}

.promo__container {
  /* background: url(../../images/promo-logo.png) no-repeat left 50% top 82px; */
  background: url(../../images/promo-logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 320px 320px;
  height: 320px;
  /* background-c; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .promo__container {
    background-size: 320px 320px;
    height: 320px;
    padding: 20px;
  }
}

@media screen and (max-width: 480px) {
  .promo {
    height: 570px;
    padding-top: 142px;
  }

  .promo__container {
    background-size: 248px 248px;
    height: 248px;

  }

  .promo__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -0.04em;
    max-width: 300px;
  }
}