.filter-checkbox__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.filter-checkbox__container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.filter-checkbox__input {
  background: #DDD;
  width: 34px;
  height: 14px;
  border-radius: 100px;
  display: block;
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  cursor: pointer;
  float: left;
}

.filter-checkbox__input:after {
  content: "";
  background: #fff;
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  position: absolute;
  left: 2px;
  top: 2px;
  transform: scale(0.9);
  cursor: pointer;
  transition: all 0.4s ease;
}

.filter-checkbox__input:checked {
  background: #2BE080;
}

.filter-checkbox__input:checked:after {
  background: #fff;
  left: 22px;
  top: 2px;
}