.footer {
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding-top: 80px;
  padding-bottom: 20px;
}

.footer__description {
  margin: 0 auto 20px;
  color: #A0A0A0;
  text-align: center;
  position: relative;
  top: 50%;
}

.footer__copyright {}

.footer__copy-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #E8E8E8;
  padding-top: 20px;
}

.footer__nav {
  background-color: transparent;
}

.footer__nav-list {
  padding: 0;
  gap: 20px;
}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 480px) {
  .footer__description {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__copy-nav-wrapper {
    flex-direction: column-reverse;
    padding-top: 30px;

  }

  .footer {
    background-color: #FAFAFA;
    padding: 80px 10px 10px;
  }

  .footer__nav-list {
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
  }

  .footer__navtab-link {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
    color: #A0A0A0;

  }
}