.techs {
  padding: 100px 70px;
  background-color: #F5F5F5;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}

.techs__name {
  margin-bottom: 90px;
}

.techs__paragraph {
  margin: 0 auto 100px;
  max-width: 460px;
  text-align: center;
}

.techs__title {
  margin: 0 auto;
  margin-bottom: 26px;
}

.techs__list {
  margin: 0 auto;
  padding: 0;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, 90px); */
  grid-template-columns: repeat(auto-fit, 90px);
  grid-gap: 10px;
  list-style: none;
  justify-content: center;
}



.techs__list-item {
  display: flex;
  background-color: #E8E8E8;
  border-radius: 10px;
  height: 60px;
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__name {
    margin-bottom: 80px;
  }

  .techs__title {
    margin-bottom: 22px;
  }

  .techs__paragraph {
    font-size: 12px;
    margin: 0 auto 83px;
    line-height: 18px;
  }

  .techs__list {
    /* grid-template-columns: repeat(auto-fill, 84px); */
    grid-template-columns: repeat(auto-fit, 84px);

  }

  .techs__list-item {
    height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 480px) {
  .techs {
    background-color: #FAFAFA;
    padding: 70px 18px;

  }

  .techs__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  .techs__paragraph {
    font-size: 11px;
    line-height: 16px;
    max-width: 292px;
    margin: 0 auto 50px;
  }

  .techs__name {
    margin-bottom: 60px;
  }

  .techs__list {}

  .techs__list-item {}
}