.about-me {
  background-color: #FAFAFA;
}

.about-me__student {
  display: grid;
  grid-template-areas:
    "name photo"
    "job photo"
    "bio photo"
    "links photo"
  ;
  column-gap: 270px;
}

.about-me__name {
  grid-area: name;
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  margin: 0 0 18px;
  letter-spacing: -0.04em;
}

.about-me__job {
  grid-area: job;
  margin: 0 0 26px;
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.about-me__bio {
  grid-area: bio;
  margin: 0 0 100px;
}

.about-me__links {
  display: flex;
  gap: 20px;
  grid-area: links;
}

.about-me__link {
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #000;
}

.about-me__photo {
  grid-area: photo;
  border-radius: 10px;
  width: 270px;
  height: 327px;
}

@media screen and (max-width: 900px) {
  .about-me__student {
    column-gap: 100px;
  }

}

@media screen and (max-width: 800px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__bio {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;

  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }

  .about-me__student {
    display: grid;
    grid-template-areas:
      "name photo"
      "job photo"
      "bio photo"
      "links photo"
    ;
    column-gap: 50px;
  }

}

@media screen and (max-width: 575px) {

  .about-me__student {
    grid-template-areas:
      "photo"
      "name"
      "job"
      "bio"
      "links"
    ;
  }

  .about-me__photo {
    margin-bottom: 40px;
    justify-self: center;
  }

  .about-me__bio {}
}

@media screen and (max-width: 480px) {
  .about-me {
    padding: 70px 14px 40px;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__bio {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 40px;
  }


  .about-me__photo {
    width: 255px;
    height: 307px;
    justify-self: center;
  }
}

@media screen and (max-width: 320px) {


  .about-me__photo {
    width: 100%;
    height: auto;
  }
}